
<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>THÔNG TIN</h4>
                <div class="hline-w"></div>
                <p>
                    Bình Dương là tỉnh thuộc vùng Đông Nam Bộ Việt Nam. Tỉnh lỵ của Bình Dương hiện nay là thành phố Thủ Dầu Một, cách trung tâm Thành phố Hồ Chí Minh 30 km theo đường Quốc lộ 13. Đây là tỉnh có dân số đông thứ 7 trong 63 Tỉnh thành Việt Nam.

                    Bình Dương là vùng đất chiến trường năm xưa với những địa danh đã đi vào lịch sử như Phú Lợi, Bàu Bàng, Bến Súc, Lai Khê, Nhà Đỏ và đặc biệt là chiến khu Đ với trung tâm là huyện Tân Uyên, vùng Tam giác sắt trong đó có ba làng An. Ngoài ra còn có khu du lịch Đại Nam là khu du lịch lớn nhất Đông Nam Á.<br />
                </p>
            </div>
            <div class="col-lg-4">
                <h4>CHIA SẺ</h4>
                <div class="hline-w"></div>
                <p>
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100003660327922&layout=button_count&size=large&mobile_iframe=true&appId=1461621737205794&width=93&height=28" width="93" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>LIÊN KẾT WEBSITE</h4>
                <div class="hline-w"></div>
                <p>
                    <a href="www.binhduong.gov.vn">Ủy ban nhân dân tỉnh Bình Dương </a><br />
                    <a href="stttt.binhduong.gov.vn">Website Sở Thông tin và Truyền thông tỉnh Bình Dương </a><br />
                    <a href="www.thuvienbinhduong.org.vn">Thư viện tỉnh Bình Dương </a><br />
                </p>
            </div>

        </div>
    </div>
</div>