<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="@Url.Action("Index","Home")"> <img src="~/Content/assets/img/logobinhduong.png" width="70"></a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
        <h3 style="color:white">BINH DUONG VIRTUAL TOUR</h3>
    </div><!--/.nav-collapse -->
</div>
</div>